@model UserInputModel

@{
    ViewData["Title"] = "MiPerfil";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="text-center" style="padding: 50px 0;">

    <h1 class="mb-4" style="color: #333;">Mi Perfil</h1>

    <form asp-action="EditarPerfil" class="col-sm-4 mx-auto my-auto" method="post" style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">

        <div class="form-group mb-4">
            <label style="color:#55677D">Nombre</label>
            <input asp-for="Nombre" class="form-control mt-2" placeholder="Tu nombre aquí">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label style="color:#55677D">Email</label>
            <input asp-for="Email" class="form-control mt-2" placeholder="Tu email aquí">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label style="color:#55677D">Nombre de usuario</label>
            <input asp-for="Username" class="form-control mt-2" placeholder="Tu nombre de usuario aquí">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label style="color:#55677D">Contraseña</label>
            <input asp-for="Password" class="form-control mt-2" placeholder="Tu contraseña aquí">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger mb-4" })

        <button type="submit" class="btn btn-outline-info w-100">Actualizar</button>

    </form>

</div>

<style>
    .validation-summary-errors ul {
        list-style-type: none;
        padding-left: 0;
    }
</style>
