<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spot</title>
    <!-- LLamada al tema de boostrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Morph.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto.styles.css" asp-append-version="true" />
    <!-- CDN iconos de bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Dashboard">
                    <img src="/images/logo.png" alt="Logo" style="width:60px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-primary me-5" style="color:antiquewhite" asp-controller="Home" asp-action="Dashboard">
                        <i class="bi bi-people"></i> <b>Mis Usuarios</b>
                    </a>
                    <a id="enlace-informacion" class="btn btn-outline-dark me-5" style="color:antiquewhite" asp-controller="Home" asp-action="InformacionUsuario" asp-route-idUsuario="-1">
                        <i class="bi bi-info-circle"></i> <b>Informacion</b>
                    </a>
                    <a class="btn btn-outline-dark me-5" style="color:antiquewhite" asp-controller="Locales" asp-action="Index">
                        <i class="bi bi-shop"></i> <b>Locales</b>
                    </a>
                    <a class="btn btn-outline-dark me-5" style="color:antiquewhite" asp-controller="Reservas" asp-action="Index">
                        <i class="bi bi-calendar-check"></i> <b>Reservas</b>
                    </a>
                    <a class="btn btn-outline-dark" style="color:antiquewhite" asp-controller="Comentarios" asp-action="Index">
                        <i class="bi bi-chat"></i> <b>Comentarios</b>
                    </a>
                </div>


                <div class="d-flex justify-content-end">
                    <a class="nav-link me-3" asp-controller="Auth" asp-action="MiPerfil">Mi perfil</a>
                    <a class="nav-link me-2" asp-controller="Auth" asp-action="Logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Realizado por: Andrei Flores - Josue Lozada - Andre Rosero
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //Funcion para modificar la url de la pestana informacion
        window.onload = function () {
            var idUsuario = localStorage.getItem("IdUsuarioSeleccionado");
            if (idUsuario) {
                var enlaceInformacion = document.getElementById("enlace-informacion");
                enlaceInformacion.href = "/Home/InformacionUsuario?idUsuario=" + idUsuario;
            }
        }
    </script>

</body>
</html>


