@model List<LocalViewModel>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
    var locales = Model;
}

<h1>Dashboard</h1>

@if (locales != null && locales.Any())
{
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var local in locales)
        {
            <div class="card mb-3 mx-2" style="width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <!-- Aquí puedes poner una imagen si la tienes. Por ejemplo: -->
                        <!-- <img src="" class="img-fluid rounded-start" alt="Foto del local"> -->
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">@local.Nombre</h5>
                            <p class="card-text">@local.Descripcion</p>
                            <a asp-controller="Locales" asp-action="VerDetallesCliente" asp-route-id="@local.Id" class="btn" style="background-color: #00BFD6; color: #FFFFFF;">Ver mas...</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


}
else
{
    <div>
        No hay locales para mostrar.
    </div>
}
