@model Local
@{
    ViewData["Title"] = "Crear Local";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Crear Local</h1>

    <form class="col-sm-4 mx-auto my-auto" method="POST" action="/MisLocales">

        <div class="form-group mb-5 mt-4">
            <label>Nombre</label>
            <input asp-for="Nombre" class="form-control mt-2 placeholder-black" placeholder="Ingrese un nombre">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group mb-5">
            <label>Descripcion</label>
            <textarea asp-for="Descripcion" class="form-control mt-2 placeholder-black" placeholder="Ingrese una descripcion"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>


        <div class="form-group mb-5">
            <label>Direccion</label>
            <input asp-for="Direccion" class="form-control mt-2 placeholder-black" placeholder="Ingrese una direccion">
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>

         <div class="form-group mb-5">
            <label>Capacidad</label>
            <input asp-for="Capacidad" class="form-control mt-2 placeholder-black" placeholder="Ingrese la capacidad">
            <span asp-validation-for="Capacidad" class="text-danger"></span>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mt-5">

            <div class="col-6 col-md-6">
                <a asp-action="index" class="btn" style="background-color: #FFA500; color: #FFFFFF;">Volver</a>
            </div>

            <div class="col-6 col-md-6">
                <button type="submit" class="btn" style="background-color: #3CAF50; color: #FFFFFF;">Crear</button>
            </div>

        </div>

    </form>

</div>