
@{
    ViewData["Title"] = "Mis Locales";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<h1>Mis Locales</h1>

<button type="button" class="btn mt-3" style="background-color: #4CAF50; color: white;" onclick="location.href='@Url.Action("Create", "Locales")'">Crear</button>

